* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 11vh;
  position: sticky;
  background-color: saddlebrown;
  color: darkorange;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.home-page {
  background-color: papayawhip;
}

.welcome {
  padding: 2rem;
  gap: 0.5rem;
  text-align: center;
}

.welcome h2 {
  padding-bottom: 1rem;
}

.food-type-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.food-type {
  width: 25%;
  height: 18vh;
  background-color: teal;
  text-align: center;
  align-content: center;
  background-color: saddlebrown;
  border-radius: 16px;
}

.new-recipe-form {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4.5rem;
  background-color: papayawhip;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 0.5rem;
}

select {
  margin-bottom: 0.5rem;
  height: 1.75rem;
  background-color: seashell;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 0.5rem;
  max-width: 100%;
}

input {
  margin-bottom: 0.5rem;
  height: 1.75rem;
  background-color: seashell;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 0.5rem;
  max-width: 100%;
}

.recipe-form-content {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: seashell;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 100%;
}

.recipe-submit-btn {
  width: 6rem;
  height: 2rem;
  align-self: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: papayawhip;
}

.recipe-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.recipe-list-btn {
  width: 10rem;
  height: 1.8rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 13.5vh;
  width: 100%;
  background-color: saddlebrown;
  color: darkorange;
}
